html{
	background: #000000;
}

body {
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande" , sans-serif;
}

body, html{
	height: 400px;
	margin: 0;
	padding: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #FFFFFF;
}

ul li{
	display: inline;
}