header{
	position: realtive;
}

.menu-opcoes{
	position: relative;
	float: left;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.cabecalho{
	margin: 0 auto;
 	width: 940px;
}